{% extends 'words/base.html' %}

{% block title %}
    Flashcards - New Card
{% endblock %}

{% block public %}
<div id="app">
    <header class="flashcard_header">
        <div class="filter_selections">
            <table>
                <tr>
                    <td>Category:</td>
                    <td>[[ currentCategory ]]</td>
                </tr>
                <tr>
                    <td>Topic:</td>
                    <td>[[ topic ]]</td>
                </tr>
                <tr>
                    <td>Word Count:</td>
                    <td>[[ count ]]</td>
                </tr>
            </table>
        </div>
        <h1>Flash Cards</h1>
        <div class="filters">
            <button class="btn" @click="openFilters()">Filters</button>
        </div>
    </header>
    <main>
        <div class="card">
            <div v-if="error">No results were returned</div>
            <div v-else>
                <span v-if="cardIsFlipped" class="answer">[[ jp ]]</span>
                <span v-else>[[ en ]]</span>
            </div>
        </div>
        <div class="flip_btn_container">
            <div v-if="error">
                <button class="btn tertiary_color" @click="openFilters()">Open Filters</button>
            </div>
            <div v-else>
                <button v-if="cardIsFlipped" class="btn tertiary_color" @click="nextCard()">Next Card</button>
                <button v-else class="btn secondary_color" @click="flipCard()">Flip Card</button>
            </div>
        </div>
    </main>

    <div v-if="showFilters" class="modalContainer fadeIn" v-bind:class="{ fadeOut: fadeOut }">
        <div class="modal">
            <div class="modalHeader">
                <h2>Filters</h2>
                <span class="modalClose" @click="closeFilters()">&#10005;</span>
            </div>
            <div class="modalBody">
                <label>Category</label>
                <select v-model="categorySelection">
                    <option value="0">All</option>
                    <option v-for="c in categories" v-bind:value="c.value">[[ c.name ]]</option>
                </select>
                <label>Topic</label>
                <select v-model="topicSelection">
                    <option>All</option>
                    <option v-for="t in topics">[[ t.name ]]</option>
                </select>
            </div>
            <div class="modalFooter">
                <button class="btn" @click="applyFilters()">Apply</button>
                <button class="btn" @click="resetFilters()">Reset</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}
