/* COLORS */
.primaryColor {
    background-color: #222222;
}
.secondaryColor {
    background-color: #008000;
}
.secondaryColor:hover {
    background-color: #009900;
}
.secondaryColor:active {
    background-color: #006600;
}
.tertiaryColor {
    background-color: #ff8000;
}
.tertiaryColor:hover {
    background-color: #ff8c1a;
}
.tertiaryColor:active {
    background-color: #e67300;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1rem;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    padding: 1rem;
    align-items: center;
    color: white;
    font-size: 2rem;
}
header .info td {
    padding-left: 0.5rem;
    font-size: 1rem;
}
header h1 {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0 1.5rem;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}
header .filters {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: end;
}
header .btn {
    padding: 0.5rem;
    background-color: lightgray;
    color: black;
    font-size: 1.5rem;
}

main {
    flex-grow: 1;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.word, .btnContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.word {
    margin-top: 2rem;
    padding: 2rem;
    min-width: 350px;
    border: 2px solid lightgray;
    border-radius: 0.25rem;
    font-size: 2.5rem;
}

footer {
    padding: 0.5rem;
    color: white;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
}

.jp {
    color: darkgray;
}

.modalContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal {
    width: 450px;
    background-color: white;
    border-radius: 0.25rem;
    filter: drop-shadow(0px 0px 10px #222222);
}
.modalHeader {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.modalHeader h2 {
    flex-grow: 1;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}
.modalHeader .modalClose {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.modalBody {
    padding: 1rem;
}
.modalBody label, select {
    display: block;
}
.modalBody label {
    margin-bottom: 0.75rem;
}
.modalBody select {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.modalFooter {
    padding: 1rem;
    border-top: 1px solid lightgray;
    text-align: right;
}
.modalFooter .btn {
    margin-left: 0.25rem;
    padding: 0.5rem;
    background-color: lightgray;
    color: black;
    font-size: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    header .filters {
        flex-grow: 0;
    }
}

@media (min-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    .word {
        font-size: 3.5rem;
    }
}

/* ANIMATIONS */
.fadeIn {
    opacity: 0;
    animation: fadeIn 0.35s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    opacity: 1;
    animation: fadeOut 0.35s forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
