/* COLORS */
:root {
    --primary-color: #333333;
    --secondary-color: #8A9A5B;
    --secondary-color-hover: #97a668;
    --secondary-color-active: #7c8a51;
    --tertiary-color: #ff8000;
    --tertiary-color-hover: #ff8c1a;
    --tertiary-color-active: #e67300;
    --neutral-color: #eeeeee;
    --neutral-color-hover: #e0e0e0;
    --light-text: #ffffff;
    --dark-text: #333333;
    --answer-text:#A9A9A9;
}

.secondary_color {
    background-color: var(--secondary-color);
}
.secondary_color:hover {
    background-color: var(--secondary-color-hover);
}
.secondary_color:active {
    background-color: var(--secondary-color-active)
}
.tertiary_color {
    background-color: var(--tertiary-color);
}
.tertiary_color:hover {
    background-color: var(--tertiary-color-hover);
}
.tertiary_color:active {
    background-color: var(--secondary-color-active);
}

/* BUTTONS */

.btn {
    display: inline-block;
    padding: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    color: var(--dark-text);
    font-size: 2rem;
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1rem;
}

header {
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-text);
}
header h1 {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh
}

.flashcard_header {
    display: flex;
    flex-direction: row;
}
.flashcard_header .filter_results .filter_settings {
    display: none;
}
.flashcard_header .filter_results td {
    padding-right: 0.25rem;
    font-size: 0.95rem;
}
.flashcard_header h1 {
    flex-grow: 1;
}
.flashcard_header .filters {
    margin-right: 0.25rem;
}
.flashcard_header .filters .filters_btn {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    color: var(--light-text);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    width: 75%;
    height: 50%;
    margin-bottom: 2rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--neutral-color);
    font-size: 2.5rem;
    text-align: center;
}
.card .answer {
    color: var(--answer-text);
}

.flip_btn_container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.flip_btn_container > div {
    padding: 0 1.25rem;
    width: inherit;
}
.flip_btn_container button {
    width: 100%;
}

footer {
    display: none;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--light-text);
    text-align: center;
}
footer a {
    color: var(--light-text);
    text-decoration: none;
}
footer a:hover {
    color: var(--light-text);
    text-decoration: underline;
}

.modal_container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.7);
}
.modal {
    width: 90%;
    z-index: 15;
    background-color: var(--light-text);
    border-radius: 0.25rem;
    filter: drop-shadow(0px 0px 10px var(--primary-color));
}
.modal_header {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--neutral-color);
}
.modal_header h2 {
    flex-grow: 1;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.modal_header .modal_close {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.modal_body {
    padding: 1rem;
}
.modal_body label, select {
    display: block;
}
.modal_body label {
    margin-bottom: 0.75rem;
}
.modal_body select {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.modal_footer {
    padding: 0.75rem 1rem;
    border-top: 1px solid var(--neutral-color);
    text-align: center;
}
.modal_footer .btn {
    display: block;
    width: 100%;
    margin: 0 0 0.75rem 0;
    padding: 0.5rem;
    background-color: var(--neutral-color);
    color: var(--dark-text);
    font-size: 1rem;
}
.modal_footer .btn:hover {
    background-color: var(--neutral-color-hover);
}

/*
 * MEDIA QUERIES
 *
 * Values taken from Bootstrap 5.X
 */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .flashcard_header .filter_results td {
        padding-right: 0.75rem;
        font-size: 1rem;
    }
    .card {
        width: 375px;
        height: 425px;
        margin-bottom: 2.5rem;
        padding: 2.5rem;
        font-size: 2.5rem;
    }
    .flip_btn_container {
        width: 450px;
    }
    .modal {
        width: 450px;
    }
    .modal_header h2 {
        font-size: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        padding: 0.75rem;
    }
    header h1 {
        font-size: 2rem;
    }
    .flashcard_header .filter_results .filter_settings {
        display: table-row-group;
    }
    .flip_btn_container {
        width: auto;
    }
    .flip_btn_container button {
        width: auto;
    }
    footer {
        display: block;
    }
}

/* ANIMATIONS */

.fade_in {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade_out {
    opacity: 1;
    animation: fadeOut 0.25s forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
