/* COLORS */
:root {
    --primary-color: #333333;
    --secondary-color: #8A9A5B;
    --secondary-color-hover: #97a668;
    --secondary-color-active: #7c8a51;
    --tertiary-color: #ff8000;
    --tertiary-color-hover: #ff8c1a;
    --tertiary-color-active: #e67300;
    --neutral-color: #eeeeee;
    --light-text: #ffffff;
    --dark-text: #333333;
    --answer-text:#A9A9A9;
}

.primaryColor {
    background-color: var(--primary-color);
}
.secondaryColor {
    background-color: var(--secondary-color);
}
.secondaryColor:hover {
    background-color: var(--secondary-color-hover);
}
.secondaryColor:active {
    background-color: var(--secondary-color-active)
}
.tertiaryColor {
    background-color: var(--tertiary-color);
}
.tertiaryColor:hover {
    background-color: var(--tertiary-color-hover);
}
.tertiaryColor:active {
    background-color: var(--secondary-color-active);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1rem;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    padding: 1rem;
    align-items: center;
    color: var(--light-text);
    font-size: 2rem;
}
header .info td {
    padding-left: 0.5rem;
    font-size: 1rem;
}
header h1 {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0 1.5rem;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}
header .filters {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: end;
}
header .btn {
    padding: 0.5rem;
    background-color: var(--neutral-color);
    color: var(--dark-text);
    font-size: 1.5rem;
}

main {
    flex-grow: 1;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.word, .btnContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.word {
    margin-top: 2rem;
    padding: 2rem;
    min-width: 350px;
    border: 2px solid var(--neutral-color);
    border-radius: 0.25rem;
    font-size: 2.5rem;
}

footer {
    padding: 0.5rem;
    color: var(--light-text);
    text-align: center;
}
footer a {
    color: var(--light-text);
    text-decoration: none;
}
footer a:hover {
    color: var(--light-text);
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    color: var(--light-text);
    font-size: 2rem;
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
}

.jp {
    color: var(--answer-text);
}

.modalContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.7);
}
.modal {
    width: 450px;
    background-color: var(--light-text);
    border-radius: 0.25rem;
    filter: drop-shadow(0px 0px 10px var(--primary-color));
}
.modalHeader {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--neutral-color);
}
.modalHeader h2 {
    flex-grow: 1;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}
.modalHeader .modalClose {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.modalBody {
    padding: 1rem;
}
.modalBody label, select {
    display: block;
}
.modalBody label {
    margin-bottom: 0.75rem;
}
.modalBody select {
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.modalFooter {
    padding: 1rem;
    border-top: 1px solid var(--neutral-color);
    text-align: right;
}
.modalFooter .btn {
    margin-left: 0.25rem;
    padding: 0.5rem;
    background-color: var(--neutral-color);
    color: var(--dark-text);
    font-size: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    header .filters {
        flex-grow: 0;
    }
}

@media (min-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    .word {
        font-size: 3.5rem;
    }
}

/* ANIMATIONS */
.fadeIn {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    opacity: 1;
    animation: fadeOut 0.25s forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
