<!doctype html>
<html lang="en">
    <head>
        {% load static %}

        <!-- custom CSS -->
        <link rel="stylesheet" href="{% static 'words/css/words.css' %}">

        <!-- vue.js-->
        <script src="{% static 'words/js/vue.min.js' %}"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header class="primaryColor">Language Learning Flash Cards</header>

        {% block public %}{% endblock %}

        <footer class="primaryColor">
            <a href="{% url 'admin:index' %}" target="_blank">Configuration</a>
        </footer>

        <!-- custom JS -->
        <script src="{% static 'words/js/words.js' %}"></script>

    </body>
</html>
