{% extends 'words/base.html' %}

{% block title %}
    Flashcards - New Card
{% endblock %}

{% block public %}
    <main id="flashcard">
        <div class="content">
            <div class="word">
                <span id="jp"></span>
                <span id="en"></span>
            </div>
            <div>
                <button id="flipCardBtn" class="btn secondaryColor">Flip Card</button>
                <button id="newCardBtn" class="btn tertiaryColor">Next Card</button>
            </div>
        </div>
    </main>
{% endblock %}
